<% extend('../template/master') %>

<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Show Post</h1>
    
    <%- include('../template/partials/breadcrumb.ejs') %>
    <%- include('../template/partials/alert-message.ejs') %>

    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <div class="card-text">
          <p><b>Name</b> : <%= post.name %></p>
          <p><b>Category</b> : <a href="<%= `/categories/${post.category._id.toString()}` %>"><%= post.category.name %></a></p>
          <p><b>Description</b> : <%= post.description %></p>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Created at</b> : <%= post.createdAt %></li>
        <li class="list-group-item"><b>Updated At</b> : <%= post.updatedAt %></li>
      </ul>
      <div class="card-body">
        <a
          href="<%= `/posts/${post._id}/edit` %>"
          class="btn btn-sm btn-primary card-link"
        >
          <i class="fa-solid fa-pen-to-square"></i> Edit
        </a>

        <button
          type="button"
          class="btn btn-sm btn-danger delete-record"
          data-delete-url="<%= `/posts/${post._id}?_method=DELETE` %>"
          data-bs-toggle="modal"
          data-bs-target="#delete-modal"
        >
          <i class="fa-solid fa-trash"></i> Delete
        </button>
      </div>
    </div>
  </div>
</main>